section {
  padding: 50px 100px;
}

header {
  z-index: 9999;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  background-color: $cor-background;
  justify-content: space-between;
  align-items: center;
  padding: 18px 100px;

  .logo {
    text-transform: uppercase;
    color: $cor-texto;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 1px;
    display: flex;
    gap: 0.5rem;
    align-items: center;

    i {
      color: $cor-principal;
      font-size: 24px;
    }
  }

  #menu-icon {
    font-size: 24px;
    color: $cor-texto;
    cursor: pointer;
    z-index: 10001;
    display: none;
  }

  .navbar .nav-list {
    display: flex;

    li a {
      padding: 8px 17px;
      color: $cor-texto;
      text-transform: uppercase;
      font-weight: 600;
    }

    li a:hover {
      color: $cor-principal;
    }
  }

  .header-icons {
    font-size: 20px;
    display: flex;
    gap: 0.8rem;
    align-items: center;
    cursor: pointer;
    z-index: 10000;

    .bx {
      background-color: $cor-principal;
      padding: 7px;
      color: #fff;
      border-radius: 0.4rem;
    }

    .bx:hover {
      background-color: orangered;
    }

    .bx-cart-add {
      position: relative;
    }

    span {
      background-color: black;
      top: -7px;
      right: -7px;
      position: absolute;
      width: 18px;
      height: 18px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 0.7rem;
      border-radius: 50%;
      font-weight: 600;
      color: $cor-background;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }



  }

  .search-box {
    position: absolute;
    top: 110%;
    right: -100rem;
    width: 280px;
    transition: 0.3s all linear;

    input {
      border: none;
      outline: none;
      width: 100%;
      padding: 20px;
      color: $cor-principal;
    }

    input::placeholder {
      font-weight: bold;
      font-size: 1rem;
    }
  }

  .active {
    right: 1rem;

  }


}

.home {
  width: 100%;
  display: grid;
  align-items: center;
  min-height: 740px;
  grid-template-columns: repeat(auto-fit, minmax(17rem, auto));
  background-color: $cor-secundaria;
  gap: 1.5rem;

  .text-home {
    h3 {
      text-transform: uppercase;
      color: $cor-principal;
      font-weight: 600;
      font-size: 1rem;
    }

    h1 {
      font-size: 3.4rem;
      letter-spacing: 1px;

      span {
        color: $cor-principal;
      }
    }

    p {
      max-width: 80%;
      margin: 0.5rem 0 1.5rem;
      font-size: 1rem;
    }

    a {
      background-color: $cor-principal;
      padding: 10px 40px;
      text-decoration: none;
      color: $cor-background;
      font-weight: 600;
      border-radius: 0.5rem;
      border: none;
      outline: none;
      transition: all 1s linear;
    }

    a:hover {
      background-color: orangered;
    }
  }

  .img-home {
    animation: float 4s linear infinite;
  }

  @keyframes float {
    0% {
      transform: translateY(-3.5rem);
    }

    50% {
      transform: translateY(3.5rem);
    }

    100% {
      transform: translateY(-3.5rem);
    }

  }
}

.sobre {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(17rem, auto));
  align-items: center;
  gap: 1.5rem;

  h2 {
    font-size: 1.8rem;
    text-transform: uppercase;

    span {
      color: $cor-principal;
    }
  }

  p {
    font-size: 1rem;
    margin: 0.5rem 0 1.5rem;
  }

  a {
    background-color: $cor-principal;
    padding: 10px 40px;
    text-decoration: none;
    color: $cor-background;
    font-weight: 600;
    border-radius: 0.5rem;
    border: none;
    outline: none;
    transition: all 1s linear;
  }

  a:hover {
    background-color: orangered;
  }
}

.produtos {

  .titulo-produtos {
    text-align: center;
    text-transform: uppercase;
    text-align: center;
  }

  .container-produtos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    align-items: center;
    gap: 1.5rem;
    margin-top: 2rem;

    .box {
      position: relative;
      padding: 40px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 0.5rem;
      -webkit-box-shadow: 0px 3px 14px 1px rgba(168, 168, 173, 0.8);
      -moz-box-shadow: 0px 3px 14px 1px rgba(168, 168, 173, 0.8);
      box-shadow: 0px 3px 14px 1px rgba(168, 168, 173, 0.8);
      ;
    }
  }

}